.game-grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:hover {
    .card {
      .border {
        opacity: 1;
      }
    }
  }

  .wrapper {
    display: grid;
    grid-template-rows: 20vmin 20vmin 20vmin;
    grid-template-columns: 18vmin 18vmin 18vmin 18vmin;
    gap: .8vmin;
  }

  .card {
    background: linear-gradient(
      35deg,
      $appBg,
      $primaryClr
    );
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    padding: .3vmin;
    border-radius: .3vmin;
    position: relative;
    transition: .2s;
    transform: skew(-5deg);

    // &:nth-child(-n + 12) {
    //   transform: skew(-5deg);
    // }

    // &:nth-child(-n + 8) {
    //   transform: skew(5deg);
    // }

    // &:nth-child(-n + 4) {
    //   transform: skew(-5deg);
    // }


    &::before,
    .border {
      content: "";
      position: absolute;
      background: radial-gradient(
        18vmin 
        circle at var(--mouse-x) var(--mouse-y),
        rgba($accent, .1),
        transparent 60%
      );
      width: 100%;
      height: 100%;
      border-radius: inherit;
      opacity: 0;
      transition: .3s opacity;
      z-index: 2;
    }
    
    .border {
      background: radial-gradient(
        36vmin 
        circle at var(--mouse-x) var(--mouse-y),
        rgba($accent, .7),
        transparent 40%
      );
      z-index: 1;
    }
  
    &::before {
      z-index: 3;
    }
  
    &:hover {
      margin: .6vmin;

      .content {
        background-position: -10vmin;
        font-size: 9vmin;
      }

      &::before {
        opacity: 1;
      }
    }
  
    .content {
      background: linear-gradient(
        45deg,
        $appBg,
        $primaryClr
      );
      background-size: calc(100% + 10vmin) calc(100% + 10vmin);
      width: 100%;
      height: 100%;
      border-radius: inherit;
      z-index: 2;
      position: relative;
      color: $appBg;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 10vmin;
      transition: .2s;
      // text-shadow: 
      //   2px -2px $accent,
      //   -2px -2px $accent,
      //   -2px 2px $accent,
      //   2px 2px $accent;
    }
  }
}